---
import Layout from "../layouts/Layout.astro";
import PageCard from "../components/PageCard.astro";
import FAQCard from "../components/FAQCard.astro";
---

<Layout>
    <PageCard title="FAQs" subtitle="Everything you need to know">
        <div class="faq-accordion">
            <FAQCard question="What is the schedule for the day?">
                <b>3:30 PM - Prelude Concert</b>
                <br />
                Guests are invited to join us at First Church in Marlborough for a
                prelude concert featuring works by Rachmaninoff, Mendelssohn, Palestrina,
                Bernstein, and Paul Ayers. <br />
                <br />
                <b>4:00 PM - Wedding Ceremony</b>
                <br />
                The ceremony will begin at First Church in Marlborough.<br />
                <br />
                <b>5:00 PM - Cocktail Hour</b><br />
                Following the ceremony, guests are invited to Sanctuary in Maynard
                for cocktails and hors d’oeuvres.<br />
                <br />
                <b>6:15 PM - Dinner</b><br />
                Dinner will be served, followed by toasts and celebration.<br />
                <br />
                <i>Dancing to Follow</i>
            </FAQCard>

            <FAQCard question="Can I bring a plus one?">
                <p>
                    Please refer to your invitation for details regarding your
                    invitation and guest count. Each invitation included a slip
                    listing the individuals who are invited to attend. If a plus
                    one has been extended, it will be indicated there.
                </p>
                <p>
                    To help us accommodate everyone comfortably, we kindly ask
                    that only those named on the invitation attend the
                    celebration.
                </p>
            </FAQCard>

            <FAQCard question="Are there hotels nearby?">
                <p>
                    While we do not have a hotel block reserved, there are
                    several convenient lodging options in the Marlborough and
                    Maynard area for guests traveling from out of town. Nearby
                    options include the Hyatt and Best Western, as well as a
                    variety of other hotels within a short drive of the ceremony
                    and reception venues.
                </p>
            </FAQCard>

            <FAQCard question="Will children be attending the wedding?">
                <p>
                    While we love your little ones, our wedding will be an
                    adults-only celebration. We kindly ask that only those
                    guests listed on the invitation attend.
                </p>
                <p>
                    We appreciate your understanding and hope you enjoy a
                    relaxing evening celebrating with us.
                </p>
            </FAQCard>

            <FAQCard question="What will be served for dinner?">
                <p>
                    Dinner will feature a Brazilian barbecue feast, including
                    pork loin, top sirloin steak, and bacon-wrapped chicken
                    breast, accompanied by rice, beans, and collard greens. For
                    dessert, guests will enjoy cake and passion fruit mousse.
                </p>
                <p>
                    If you have any dietary restrictions, food allergies, or
                    special meal requirements, please let us know so that we can
                    work with our caterer to accommodate your needs.
                </p>
            </FAQCard>

            <FAQCard question="What is the dress code?">
                <p>
                    The dress code for our wedding is cocktail attire. We invite
                    guests to dress in semi-formal attire that is elegant and
                    comfortable for both the ceremony and reception. Suits,
                    sport coats, cocktail dresses, dressy separates, and similar
                    attire are all appropriate choices. Most importantly, we
                    hope you'll wear something that makes you feel your best as
                    we celebrate together.
                </p>
            </FAQCard>

            <FAQCard question="Will the wedding be indoors or outdoors?">
                <p>Both the ceremony and reception will be held indoors.</p>
                <p>
                    The ceremony will take place at First Church in Marlborough,
                    and the reception will be held at Sanctuary in Maynard.
                    Guests will be indoors for all scheduled events, though
                    there will be a brief transition between venues following
                    the ceremony.
                </p>
            </FAQCard>

            <FAQCard
                question="I have a question that isn't answered here. Who should I contact?"
            >
                <p>
                    If you have any additional questions, please don't hesitate
                    to reach out to us:
                </p>

                <p>Timothy<br /><a href="tel:+15089885196">(508) 988-5196</a></p>
                <p>Miguel<br /><a href="tel:+17813308396">(781) 330-8396</a></p>

                <p>
                    We are happy to help and look forward to celebrating with
                    you!
                </p>
            </FAQCard>
        </div>
    </PageCard>
</Layout>

<style>
    .faq-accordion {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
</style>
